<div class="row">
        <div class="col">
            <!-- <button class="btn btn-info">New event</button> -->
        </div>
    </div>
    <div class="row">
            <div class="col">
              
                <!-- <a *ngFor="let item of events" href="#" class="list-group">
                    <h4 class="list-group-heading">{{item.name}}</h4>
                    <h4 class="list-group-heading">{{item.description}}</h4>
                    <img class="img-fluid" [src]="item.image" alt="">
                </a>
     -->
     <app-event-item *ngFor="let item of events; let i = index" [myEvent]="item"  [index]="i"></app-event-item>
            </div>
        </div>